.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .searchMovie {
  display: flex;
}

.sortMovies_container{
  user-select: none;
}

main {
  align-self: stretch;
  margin: 0 2rem;
}

.movies {
  list-style: none;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem 5rem;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li h3 {
  font-size: 1.1em;
  text-align: center;
}

li span {
  font-size: 1em;
}

li img {
  border-radius: 16px;
}

.error {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  color: red;
}
